<table class="table table-striped responsive-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Prompt?</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
{% for configuration in configurations %}

            <tr>
                <td>{{ configuration.name }}</td>
                <td>{{ configuration.value }}</td>
                <td>{{ configuration.promptOndeploy }}</td>
                <td></td>
            </tr>

{% endfor %}
    </tbody>
</table>
